<%= simple_form_for [@restaurant] do |f| %>
  <% if @restaurant.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name, class: 'form-control' %>
    <%= f.input :address, class: 'form-control' %>
    <%= f.input :phone_number, class: 'form-control' %>
    <%= f.input :category, as: :select, collection: Restaurant::CATEGORY, include_blank: "Please select one", class: 'form-control' %>
    <%= f.submit "add a review", class: "btn btn-primary" %>
  </div>
<% end %>
